@font-face {
    font-family: "Instrument Sans";
    src: url('InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
    background-color: #E8F8FA;
    font-family: "Instrument Sans", sans-serif;
}

nav {
    background-color: #CDE1EA;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 px;
    z-index: 1000;
}

.nav-logo {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 50px;
}

.nav-logo:hover{
    color: #075375;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin: 0 50px;
}
  
.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-links a:hover {
    color: #075375;
} 

.about-me {
    padding: 50px;
    font-size: 25px;
    color: #000;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
}

.experience {
    padding: 60px;
    margin: 50px 0;
    color: #000;
}

.experience h1 {
    font-size: 40px;
}

.experience p {
    font-size: 20px;
}

footer {
    color: #000;
    text-align: center;
    font-size: 13px;
    bottom: 0;
    width: 100%;
    position: fixed;
}